@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

/* $bodyBackground: #202632;
$cardBackground:     #313A49;
$textColor:    #AABBC4;
$buttonColor:       #306E59;
$buttonHoverColor:     #52FEAA ;
 */

$LightCyan: hsl(193, 38%, 86%);
// Button + top quote
$NeonGreen: hsl(150, 100%, 66%);

// Text
$GrayishBlue: hsl(217, 19%, 38%);
// Card
$DarkGrayish: hsl(217, 19%, 24%);
// Body
$DarkBlue: hsl(218, 23%, 16%);


// -Fonts-

$bodyText : 'Manrope';


