.divider{
    width: 100%;
    height: 16px;
    background-image: url(../Media//pattern-divider-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;

    @media (min-width: 31.25rem) {
        background-image: url(../Media/pattern-divider-desktop.svg);
}

}