@import "../Variables/Variables.scss";

.textid{
    color: $NeonGreen;
    
}

.textbody{
    color: $LightCyan;
    font-size: 23px;

}



.textbody , .textid{
    text-align: center;
    font-family: $bodyText;
    font-weight: 800;
    
}